<div class="top-header-row">
  <h1>Itens Cadastrados</h1>
  <%= link_to('Cadastrar Itens', new_item_path)%>
</div>
<div class="batches-page">
  <% @items.each do |i|%>
    <div class="card">
      <p>
        <%= Item.human_attribute_name(:name)%>:
        <%=i.name%>
      </p>
      <p>
        <%= Item.human_attribute_name(:code)%>:
        <%=i.code%>
      </p>
      <p>
        <%= Item.human_attribute_name(:description)%>:
        <%=i.description%>
      </p>
      <p>
        <%= Item.human_attribute_name(:weight)%>:
        <%=i.weight%>
      </p>
      <p>
        <%= Item.human_attribute_name(:dimensions)%>:
        <%=i.full_dimensions%>
      </p>
      <p>
        <%= Item.human_attribute_name(:category_name)%>:
        <%= i.category.name%>
      </p>
      <p>
        <%= Item.human_attribute_name(:code)%>:
        <%=i.code%>
      </p>
    </div>
  <% end %>
</div>

