<h1>Cadastre os itens para o leilão</h1>

<%= form_with(model: @item) do |f|%>
  <%= f.label :name, 'Nome'%>
  <%= f.text_field :name%>

  <%= f.label :description, 'Descrição'%>
  <%= f.text_field :description%>

  <%= f.label :weight, 'Peso'%>
  <%= f.number_field :weight%>

  <%= f.label :width, 'Largura'%>
  <%= f.number_field :width%>

  <%= f.label :height, 'Altura'%>
  <%= f.number_field :height%>

  <%= f.label :depth, 'Profundidade'%>
  <%= f.number_field :depth%>

  <%= f.label :category_id, 'Categoria'%>
  <%= f.collection_select :category_id, @categories, :id, :name%>

  <%= f.label :code, 'Codigo'%>
  <%= f.text_field :code%>

  <%= f.submit 'Criar'%>
<% end %>
