<h1>Cadastre os itens para o leilão</h1>

<%= form_with(model: @item) do |f|%>
  <div>
    <%= f.label :name, 'Nome'%>
    <%= f.text_field :name%>
  </div>

  <div>
    <%= f.label :description, 'Descrição'%>
    <%= f.text_field :description%>
  </div>

  <div>
    <%= f.label :weight, 'Peso'%>
    <%= f.number_field :weight%>
  </div>

  <div>
    <%= f.label :width, 'Largura'%>
    <%= f.number_field :width%>
  </div>

  <div>
    <%= f.label :height, 'Altura'%>
    <%= f.number_field :height%>
  </div>

  <div>
    <%= f.label :depth, 'Profundidade'%>
    <%= f.number_field :depth%>
  </div>

  <div>
    <%= f.label :category_id, 'Categoria'%>
    <%= f.collection_select :category_id, @categories, :id, :name%>
  </div>

  <%= f.submit 'Criar'%>
<% end %>
