<h1>Edite os itens.</h1>

<%= form_for @batch do |f|%>

  <div>
    <%= f.label :code%>
    <%= f.text_field :code%>
  </div>

  <div>
    <%= f.label :start_date%>
    <%= f.date_field :start_date %>
  </div>

  <div>
    <%= f.label :final_date%>
    <%= f.date_field :final_date %>
  </div>

  <div>
    <%= f.label :minimum_value%>
    <%= f.number_field :minimum_value%>
  </div>

  <div>
    <%= f.label :minimum_difference%>
    <%= f.number_field :minimum_difference%>
  </div>

  <div>
    <%= f.label :items %>
    <% @items.each do |item| %>
      <div>
      <% if @batch.items.include?(item) %>
        <%= check_box_tag "batch[item_ids][]", item.id, true %>
      <% else %>
        <%= check_box_tag "batch[item_ids][]", item.id, false %>
      <% end %>
        <%= item.name %>
      </div>
    <% end %>
  </div>

  <%= f.submit 'Salvar'%>

<% end %>
