<h1>Detalhes do lote</h1>

<div>
  <p><strong>Data inicio: </strong><%=@batch.start_date%></p>
  <p><strong>Data de encerramento: </strong><%=@batch.final_date%></p>
  <p><strong>Lance mínimo: </strong><%=@batch.minimum_value%></p>
  <p><strong>Diferença mínima: </strong><%=@batch.minimum_difference%></p>
</div>

<div>
  <h2>Itens do lote</h2>
  <% @batch.items.each do |i|%>
  <p><strong>Nome: </strong><%= i.name %></p>
  <p><strong>Descrição: </strong><%= i.description %></p>
  <p><strong>Dimensões do item: </strong><%=i.width%>cm X <%=i.height%>cm X <%=i.depth%>cm</p>
  <hr>
  <% end %>
</div>

<% if !@batch.created_by_id.nil? %>
  <div>
    <p><strong>Lote criado por:</strong><%= Admin.find(@batch.created_by_id).email%></p>
    <% if @batch.approved %>
      <p><strong>Aprovado por:</strong><%= Admin.find(@batch.approved_by_id).email%></p>
    <% else %>
      <p><strong>Lote aguardando aprovaçao</p>
    <% end %>
  </div>
<% end %>

<% if @batch.in_progress? && user_signed_in? %>
  <% if @batch.bids.count > 0 %>
    <h4>O maior lance no momento é de R$<%= @batch.bids.maximum(:value) %></h4>
  <% end %>
  <%= form_with(url: place_a_bid_path) do |form| %>
    <%= form.label :value %>
    <%= form.number_field :value %>
    <%= form.hidden_field :batch_id, value: @batch.id %>
    <%= form.submit 'Enviar lance' %>
  <% end %>
<% end %>
