<div class="container">
  <h1 class="header-title">Detalhes do lote</h1>
  <div class="detail-item">
    <p class="detail-label"><%= Batch.human_attribute_name(:start_date)%>:</p>
    <p class="detail-value"><%=@batch.start_date%></p>
  </div>
  <div class="detail-item">
    <p class="detail-label"><%= Batch.human_attribute_name(:final_date)%>:
    </p>
    <p class="detail-value"><%=@batch.final_date%>
    </p>
  </div>
  <div class="detail-item">
    <p class="detail-label"><%= Batch.human_attribute_name(:minimum_value)%>:
    </p>
    <p class="detail-value">
      <%=@batch.minimum_value%>
    </p>
  </div>
  <div class="detail-item">
    <p class="detail-label"><%= Batch.human_attribute_name(:minimum_difference)%>:
    </p>
    <p class="detail-value">
      <%=@batch.minimum_difference%>
    </p>
  </div>
  <div>
    <div class="detail-item">
      <h2 class="detail-label">Itens do lote:</h2>
      <ul class="list">
        <% @batch.items.each do |i|%>
          <li class="list-item">
          <p><%= Item.human_attribute_name(:name)%>: <%= i.name %></p>
          <p><%= Item.human_attribute_name(:description)%>: <%= i.description %></p>
          <p><%= Item.human_attribute_name(:dimensions)%>: <%=i.full_dimensions%></p>
          </li>
        <% end %>
      </ul>
      <hr>
    </div>
  </div>

  <% if !@batch.created_by_id.nil? %>
    <div>
      <div class="detail-item">
        <p class="detail-label"><%= Batch.human_attribute_name(:batch_created)%>:
        </p>
        <p class="detail-value">
          <%= User.find(@batch.created_by_id).email%>
        </p>
      </div>
      <% if @batch.approved %>
      <div class="detail-item">
        <p class="detail-label"><%= Batch.human_attribute_name(:batch_approved)%>:</p>
        <p class="detail-value"><%= User.find(@batch.approved_by_id).email%></p>
      </div>
      <% else %>
        <p><strong>Lote aguardando aprovaçao</p>
      <% end %>
    </div>
  <% end %>

  <% if @batch.in_progress? && user_signed_in? %>
    <% if @batch.bids.count > 0 %>
      <div class="detail-item">
        <h4 class="detail-label">O maior lance no momento é de:</h4>
        <h4 class="detail-value">R$<%= @batch.bids.maximum(:value) %>.00</h4>
      </div>
    <% end %>
    <%= form_with(url: place_a_bid_path) do |form| %>
      <%= form.label :value, 'Valor', class: 'detail-label' %>
      <%= form.number_field :value %>
      <%= form.hidden_field :batch_id, value: @batch.id %>
      <%= form.submit 'Enviar lance', class: 'send-bid' %>
    <% end %>
  <% end %>
</div>
