<h1>Cadastre uma nova categoria </h1>

<%= form_with(model: @category) do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name%>

  <%= f.label :description %>
  <%= f.text_field :description%>

  <%= f.submit 'Criar'%>
<% end %>
