<div class="user">
  <%= current_user.full_description %>
  <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "default" %>
</div>
<%= link_to('Lotes Vencedores', winning_batches_path)%>
<div class="form_busca">
  <%= form_with(url: search_batches_path, method: :get) do |f|%>
    <%= f.text_field :query, placeholder: 'Buscar Lote', class: "test" %>
    <%= f.submit 'Buscar', class: "default" %>
  <% end %>
</div>
