<!DOCTYPE html>
<html>
  <head>
    <title>AuctionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <nav>
    <% if admin_signed_in? %>
      <%= link_to('Itens', items_path)%> |
      <%= link_to('Categorias', categories_path)%> |
      <%= current_admin.full_description %> |
      <%= button_to 'Sair', destroy_admin_session_path, method: :delete%> |
    <% elsif user_signed_in? %>
      <%= current_user.full_description %> |
      <%= button_to 'Sair', destroy_user_session_path, method: :delete%> |
      <%= link_to('Lotes Vencedores', winning_batches_path)%> |

    <% else %>
      <%= link_to('Entrar como administrador', new_admin_session_path)%> |
      <%= link_to('Entrar como usuario', new_user_session_path)%> |
      <%= link_to('Cadastrar-se', new_user_registration_path)%> |
      <%= link_to('Cadastrar Administrador', new_admin_registration_path)%> |

    <% end %>
    <%= link_to('Lotes', batches_path)%>
  </nav>
  <div>
    <%= flash[:notice] %>
    <%= flash[:message] %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
