<!DOCTYPE html>
<html>
  <head>
    <title>AuctionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <header>
    <nav class="menu">
      <%= link_to('Lotes', batches_path)%>
      <% if user_signed_in? && current_user.admin? %>
        <%= render "layouts/admin_navbar" %>
      <% elsif user_signed_in? && current_user.user? %>
        <%= render "layouts/user_navbar" %>
      <% else %>
        <%= link_to('Entrar', new_user_session_path)%>
        <%= link_to('Cadastrar-se', new_user_registration_path)%>
      <% end %>
    </nav>
  </header>
  <div>
    <%= flash[:notice] %>
    <%= flash[:message] %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
