<!DOCTYPE html>
<html>
  <head>
    <title>AuctionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <nav>
    <% if admin_signed_in? %>
      <%= link_to('Itens', items_path)%> |
      <%= link_to('Categorias', categories_path)%> |
       |
      <%= current_admin.email %> |
      <%= button_to 'Sair', destroy_admin_session_path, method: :delete%> |
    <% else %>
      <%= link_to('Entrar', new_admin_session_path)%> |
      <%= link_to('Cadastrar-se', new_admin_registration_path)%> |
    <% end %>
    <%= link_to('Lotes', batches_path)%>
  </nav>
  <div>
    <%= flash[:notice] %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
